<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="40538c39-b423-4a6d-9085-b11c9b9ad43a" name="17. Split Checks\Split Seat" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="IncludeOverview">true</con:setting>
    <con:setting id="IncludeResults">true</con:setting>
    <con:setting id="FlowLayout">false</con:setting>
    <con:setting id="ErrorDetails">true</con:setting>
    <con:setting id="IncludeCoverage">true</con:setting>
    <con:setting id="40538c39-b423-4a6d-9085-b11c9b9ad43afileName">17.-Split-Checks%5CSplit-Seat</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="07f30c36-ef08-4c61-94c3-9cca624f14e2">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
