<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="fe20d395-efa1-4e4b-b4a9-d539d88fec9c" created="2.7.0" activeEnvironment="Lab 4" name="Base Data TS" resourceRoot="${projectDir}" updated="3.1.0" encryptionMode="Not encrypted" compositeProjectFormat="1.3" savePropertyValues="false" xmlns:con="http://eviware.com/soapui/config">
  <con:description>Required Amob Build: 
Latest including fix for ALOHAP-20895 [TS OM7] Table is doubled when self transferred</con:description>
  <con:settings>
    <con:setting id="IncludeOverview">true</con:setting>
    <con:setting id="IncludeResults">true</con:setting>
    <con:setting id="FlowLayout">false</con:setting>
    <con:setting id="ErrorDetails">true</con:setting>
    <con:setting id="IncludeCoverage">true</con:setting>
    <con:setting id="fe20d395-efa1-4e4b-b4a9-d539d88fec9cfileName">Base-Data-TS</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:requirements/>
  <con:properties>
    <con:property>
      <con:name>0.000000</con:name>
    </con:property>
    <con:property>
      <con:name>1</con:name>
    </con:property>
    <con:property>
      <con:name>1.000000</con:name>
    </con:property>
    <con:property>
      <con:name>10</con:name>
    </con:property>
    <con:property>
      <con:name>10.000000</con:name>
    </con:property>
    <con:property>
      <con:name>100</con:name>
    </con:property>
    <con:property>
      <con:name>101</con:name>
    </con:property>
    <con:property>
      <con:name>102</con:name>
    </con:property>
    <con:property>
      <con:name>109</con:name>
    </con:property>
    <con:property>
      <con:name>12</con:name>
    </con:property>
    <con:property>
      <con:name>2</con:name>
    </con:property>
    <con:property>
      <con:name>2.000000</con:name>
    </con:property>
    <con:property>
      <con:name>2.50</con:name>
    </con:property>
    <con:property>
      <con:name>3</con:name>
    </con:property>
    <con:property>
      <con:name>420478977</con:name>
    </con:property>
    <con:property>
      <con:name>8</con:name>
    </con:property>
    <con:property>
      <con:name>9</con:name>
    </con:property>
    <con:property>
      <con:name>false</con:name>
    </con:property>
    <con:property>
      <con:name>JEFF</con:name>
    </con:property>
    <con:property>
      <con:name>JOHNNY</con:name>
    </con:property>
    <con:property>
      <con:name>managerId</con:name>
    </con:property>
    <con:property>
      <con:name>true</con:name>
    </con:property>
    <con:property>
      <con:name>201</con:name>
    </con:property>
    <con:property>
      <con:name>200</con:name>
    </con:property>
    <con:property>
      <con:name>1.330000</con:name>
    </con:property>
    <con:property>
      <con:name>15</con:name>
    </con:property>
    <con:property>
      <con:name>18</con:name>
    </con:property>
    <con:property>
      <con:name>25</con:name>
    </con:property>
    <con:property>
      <con:name>5</con:name>
    </con:property>
    <con:property>
      <con:name>0</con:name>
    </con:property>
    <con:property>
      <con:name>4</con:name>
    </con:property>
    <con:property>
      <con:name>table1</con:name>
    </con:property>
    <con:property>
      <con:name>JEFF2</con:name>
    </con:property>
    <con:property>
      <con:name>submenuId 11</con:name>
    </con:property>
    <con:property>
      <con:name>compId 11</con:name>
    </con:property>
    <con:property>
      <con:name>JEFF3</con:name>
    </con:property>
    <con:property>
      <con:name>T3</con:name>
    </con:property>
    <con:property>
      <con:name>222</con:name>
    </con:property>
  </con:properties>
  <con:wssContainer/>
  <con:databaseConnectionContainer/>
  <con:jmsConnectionContainer/>
  <con:oAuth2ProfileContainer/>
  <con:oAuth1ProfileContainer/>
  <con:eventHandlers type="RequestFilter.filterRequest" name="RequestFilter.filterRequest">
    <con:script>// Sample event script to add custom HTTP header to all outgoing REST, SOAP and HTTP(S) calls
// This code is often used for adding custom authentication to SoapUI Pro tests

// If hardcoding the token, uncomment and change line 5
// def token = '4567'

// If your token is parameterized in Project level custom property, uncomment line 8
// def token = request.parent.testCase.testSuite.project.getProperty('auth_token').getValue()

// To modify all outgoing calls, remove comments from lines 11 to 16
// def headers = request.requestHeaders
// if (headers.containsKey('auth_token2') == false) {
//   headers.put('auth_token2', token)
//   request.requestHeaders = headers
// }</con:script>
  </con:eventHandlers>
  <con:eventHandlers type="TestRunListener.afterStep" name="TestRunListener.afterStep">
    <con:script>// Save all test step results into files
//		filePath = 'C:\\AmobAutoTsOutputDirectory\\'
//		fos = new FileOutputStream(filePath + testStepResult.testStep.label + '.txt', true)
//		pw = new PrintWriter(fos)
//		testStepResult.writeTo(pw)
//		pw.close()
//		fos.close()</con:script>
  </con:eventHandlers>
  <con:environment id="3a05ce79-0553-44db-8f74-bfca66706c47" name="Lab 4">
    <con:service type="REST" name="REST Service IOS">
      <con:endpoint authProfile="No Authorization" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://153.78.25.52:8897</con:endpoint>
    </con:service>
    <con:property>
      <con:name>0.000000</con:name>
      <con:value>0.000000</con:value>
    </con:property>
    <con:property>
      <con:name>1</con:name>
      <con:value>1</con:value>
    </con:property>
    <con:property>
      <con:name>1.000000</con:name>
      <con:value>1.000000</con:value>
    </con:property>
    <con:property>
      <con:name>10</con:name>
      <con:value>10</con:value>
    </con:property>
    <con:property>
      <con:name>10.000000</con:name>
      <con:value>10.000000</con:value>
    </con:property>
    <con:property>
      <con:name>100</con:name>
      <con:value>100</con:value>
    </con:property>
    <con:property>
      <con:name>101</con:name>
      <con:value>101</con:value>
    </con:property>
    <con:property>
      <con:name>102</con:name>
      <con:value>102</con:value>
    </con:property>
    <con:property>
      <con:name>109</con:name>
      <con:value>109</con:value>
    </con:property>
    <con:property>
      <con:name>12</con:name>
      <con:value>12</con:value>
    </con:property>
    <con:property>
      <con:name>2</con:name>
      <con:value>2</con:value>
    </con:property>
    <con:property>
      <con:name>2.000000</con:name>
      <con:value>2.000000</con:value>
    </con:property>
    <con:property>
      <con:name>2.50</con:name>
      <con:value>2.50</con:value>
    </con:property>
    <con:property>
      <con:name>3</con:name>
      <con:value>3</con:value>
    </con:property>
    <con:property>
      <con:name>420478977</con:name>
      <con:value>420478977</con:value>
    </con:property>
    <con:property>
      <con:name>8</con:name>
      <con:value>8</con:value>
    </con:property>
    <con:property>
      <con:name>9</con:name>
      <con:value>9</con:value>
    </con:property>
    <con:property>
      <con:name>false</con:name>
      <con:value>false</con:value>
    </con:property>
    <con:property>
      <con:name>JEFF</con:name>
      <con:value>JEFF</con:value>
    </con:property>
    <con:property>
      <con:name>JOHNNY</con:name>
      <con:value>JOHNNY</con:value>
    </con:property>
    <con:property>
      <con:name>managerId</con:name>
      <con:value>200</con:value>
    </con:property>
    <con:property>
      <con:name>true</con:name>
      <con:value>true</con:value>
    </con:property>
    <con:property>
      <con:name>201</con:name>
      <con:value>201</con:value>
    </con:property>
    <con:property>
      <con:name>200</con:name>
      <con:value>200</con:value>
    </con:property>
    <con:property>
      <con:name>1.330000</con:name>
      <con:value>1.330000</con:value>
    </con:property>
    <con:property>
      <con:name>15</con:name>
      <con:value>15</con:value>
    </con:property>
    <con:property>
      <con:name>18</con:name>
      <con:value>18</con:value>
    </con:property>
    <con:property>
      <con:name>25</con:name>
      <con:value>25</con:value>
    </con:property>
    <con:property>
      <con:name>5</con:name>
      <con:value>5</con:value>
    </con:property>
    <con:property>
      <con:name>0</con:name>
      <con:value>0</con:value>
    </con:property>
    <con:property>
      <con:name>4</con:name>
      <con:value>4</con:value>
    </con:property>
    <con:property>
      <con:name>table1</con:name>
      <con:value>1</con:value>
    </con:property>
    <con:property>
      <con:name>JEFF2</con:name>
      <con:value>JEFF2</con:value>
    </con:property>
    <con:property>
      <con:name>submenuId 11</con:name>
      <con:value>11</con:value>
    </con:property>
    <con:property>
      <con:name>compId 11</con:name>
      <con:value>11</con:value>
    </con:property>
    <con:property>
      <con:name>JEFF3</con:name>
      <con:value>JEFF3</con:value>
    </con:property>
    <con:property>
      <con:name>T3</con:name>
      <con:value>T3</con:value>
    </con:property>
    <con:property>
      <con:name>222</con:name>
      <con:value>222</con:value>
    </con:property>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="c365be7b-b6b3-4216-9da1-fcaeb16026d1" name="Lab 5">
    <con:service type="REST" name="REST Service IOS">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://153.78.25.52:8897</con:endpoint>
    </con:service>
    <con:property>
      <con:name>0.000000</con:name>
      <con:value>0.000000</con:value>
    </con:property>
    <con:property>
      <con:name>1</con:name>
      <con:value>1</con:value>
    </con:property>
    <con:property>
      <con:name>1.000000</con:name>
      <con:value>1.000000</con:value>
    </con:property>
    <con:property>
      <con:name>10</con:name>
      <con:value>10</con:value>
    </con:property>
    <con:property>
      <con:name>10.000000</con:name>
      <con:value>10.000000</con:value>
    </con:property>
    <con:property>
      <con:name>100</con:name>
      <con:value>100</con:value>
    </con:property>
    <con:property>
      <con:name>101</con:name>
      <con:value>101</con:value>
    </con:property>
    <con:property>
      <con:name>102</con:name>
      <con:value>102</con:value>
    </con:property>
    <con:property>
      <con:name>109</con:name>
      <con:value>109</con:value>
    </con:property>
    <con:property>
      <con:name>12</con:name>
      <con:value>12</con:value>
    </con:property>
    <con:property>
      <con:name>2</con:name>
      <con:value>2</con:value>
    </con:property>
    <con:property>
      <con:name>2.000000</con:name>
      <con:value>2.000000</con:value>
    </con:property>
    <con:property>
      <con:name>2.50</con:name>
      <con:value>2.50</con:value>
    </con:property>
    <con:property>
      <con:name>3</con:name>
      <con:value>3</con:value>
    </con:property>
    <con:property>
      <con:name>420478977</con:name>
      <con:value>420478977</con:value>
    </con:property>
    <con:property>
      <con:name>8</con:name>
      <con:value>8</con:value>
    </con:property>
    <con:property>
      <con:name>9</con:name>
      <con:value>9</con:value>
    </con:property>
    <con:property>
      <con:name>false</con:name>
      <con:value>false</con:value>
    </con:property>
    <con:property>
      <con:name>JEFF</con:name>
      <con:value>JEFF</con:value>
    </con:property>
    <con:property>
      <con:name>JOHNNY</con:name>
      <con:value>JOHNNY</con:value>
    </con:property>
    <con:property>
      <con:name>managerId</con:name>
      <con:value>200</con:value>
    </con:property>
    <con:property>
      <con:name>true</con:name>
      <con:value>true</con:value>
    </con:property>
    <con:property>
      <con:name>201</con:name>
      <con:value>201</con:value>
    </con:property>
    <con:property>
      <con:name>200</con:name>
      <con:value>200</con:value>
    </con:property>
    <con:property>
      <con:name>1.330000</con:name>
      <con:value>1.330000</con:value>
    </con:property>
    <con:property>
      <con:name>15</con:name>
      <con:value>15</con:value>
    </con:property>
    <con:property>
      <con:name>18</con:name>
      <con:value>18</con:value>
    </con:property>
    <con:property>
      <con:name>25</con:name>
      <con:value>25</con:value>
    </con:property>
    <con:property>
      <con:name>5</con:name>
      <con:value>5</con:value>
    </con:property>
    <con:property>
      <con:name>0</con:name>
      <con:value>0</con:value>
    </con:property>
    <con:property>
      <con:name>4</con:name>
      <con:value>4</con:value>
    </con:property>
    <con:property>
      <con:name>table1</con:name>
      <con:value>1</con:value>
    </con:property>
    <con:property>
      <con:name>JEFF2</con:name>
      <con:value>JEFF2</con:value>
    </con:property>
    <con:property>
      <con:name>submenuId 11</con:name>
      <con:value>11</con:value>
    </con:property>
    <con:property>
      <con:name>compId 11</con:name>
      <con:value>11</con:value>
    </con:property>
    <con:property>
      <con:name>JEFF3</con:name>
      <con:value>JEFF3</con:value>
    </con:property>
    <con:property>
      <con:name>T3</con:name>
      <con:value>T3</con:value>
    </con:property>
    <con:property>
      <con:name>222</con:name>
      <con:value>222</con:value>
    </con:property>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="54f9e3f9-665b-4516-89d7-f4335d931d6c" name="DpLaptop">
    <con:service type="REST" name="REST Service IOS">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://192.168.2.3:8897</con:endpoint>
    </con:service>
    <con:property>
      <con:name>0.000000</con:name>
      <con:value>0.000000</con:value>
    </con:property>
    <con:property>
      <con:name>1</con:name>
      <con:value>1</con:value>
    </con:property>
    <con:property>
      <con:name>1.000000</con:name>
      <con:value>1.000000</con:value>
    </con:property>
    <con:property>
      <con:name>10</con:name>
      <con:value>10</con:value>
    </con:property>
    <con:property>
      <con:name>10.000000</con:name>
      <con:value>10.000000</con:value>
    </con:property>
    <con:property>
      <con:name>100</con:name>
      <con:value>100</con:value>
    </con:property>
    <con:property>
      <con:name>101</con:name>
      <con:value>101</con:value>
    </con:property>
    <con:property>
      <con:name>102</con:name>
      <con:value>102</con:value>
    </con:property>
    <con:property>
      <con:name>109</con:name>
      <con:value>109</con:value>
    </con:property>
    <con:property>
      <con:name>12</con:name>
      <con:value>12</con:value>
    </con:property>
    <con:property>
      <con:name>2</con:name>
      <con:value>2</con:value>
    </con:property>
    <con:property>
      <con:name>2.000000</con:name>
      <con:value>2.000000</con:value>
    </con:property>
    <con:property>
      <con:name>2.50</con:name>
      <con:value>2.50</con:value>
    </con:property>
    <con:property>
      <con:name>3</con:name>
      <con:value>3</con:value>
    </con:property>
    <con:property>
      <con:name>420478977</con:name>
      <con:value>420478977</con:value>
    </con:property>
    <con:property>
      <con:name>8</con:name>
      <con:value>8</con:value>
    </con:property>
    <con:property>
      <con:name>9</con:name>
      <con:value>9</con:value>
    </con:property>
    <con:property>
      <con:name>false</con:name>
      <con:value>false</con:value>
    </con:property>
    <con:property>
      <con:name>JEFF</con:name>
      <con:value>JEFF</con:value>
    </con:property>
    <con:property>
      <con:name>JOHNNY</con:name>
      <con:value>JOHNNY</con:value>
    </con:property>
    <con:property>
      <con:name>managerId</con:name>
      <con:value>200</con:value>
    </con:property>
    <con:property>
      <con:name>true</con:name>
      <con:value>true</con:value>
    </con:property>
    <con:property>
      <con:name>201</con:name>
      <con:value>201</con:value>
    </con:property>
    <con:property>
      <con:name>200</con:name>
      <con:value>200</con:value>
    </con:property>
    <con:property>
      <con:name>1.330000</con:name>
      <con:value>1.330000</con:value>
    </con:property>
    <con:property>
      <con:name>15</con:name>
      <con:value>15</con:value>
    </con:property>
    <con:property>
      <con:name>18</con:name>
      <con:value>18</con:value>
    </con:property>
    <con:property>
      <con:name>25</con:name>
      <con:value>25</con:value>
    </con:property>
    <con:property>
      <con:name>5</con:name>
      <con:value>5</con:value>
    </con:property>
    <con:property>
      <con:name>0</con:name>
      <con:value>0</con:value>
    </con:property>
    <con:property>
      <con:name>4</con:name>
      <con:value>4</con:value>
    </con:property>
    <con:property>
      <con:name>table1</con:name>
      <con:value>1</con:value>
    </con:property>
    <con:property>
      <con:name>JEFF2</con:name>
      <con:value>JEFF2</con:value>
    </con:property>
    <con:property>
      <con:name>submenuId 11</con:name>
      <con:value>11</con:value>
    </con:property>
    <con:property>
      <con:name>compId 11</con:name>
      <con:value>11</con:value>
    </con:property>
    <con:property>
      <con:name>JEFF3</con:name>
      <con:value>JEFF3</con:value>
    </con:property>
    <con:property>
      <con:name>T3</con:name>
      <con:value>T3</con:value>
    </con:property>
    <con:property>
      <con:name>222</con:name>
      <con:value>222</con:value>
    </con:property>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="52239cb8-52af-41c5-90d0-703f2381c6e6" name="AMOB AGENT 1">
    <con:service type="REST" name="REST Service IOS">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://192.168.75.144:8897</con:endpoint>
    </con:service>
    <con:property>
      <con:name>0.000000</con:name>
      <con:value>0.000000</con:value>
    </con:property>
    <con:property>
      <con:name>1</con:name>
      <con:value>1</con:value>
    </con:property>
    <con:property>
      <con:name>1.000000</con:name>
      <con:value>1.000000</con:value>
    </con:property>
    <con:property>
      <con:name>10</con:name>
      <con:value>10</con:value>
    </con:property>
    <con:property>
      <con:name>10.000000</con:name>
      <con:value>10.000000</con:value>
    </con:property>
    <con:property>
      <con:name>100</con:name>
      <con:value>100</con:value>
    </con:property>
    <con:property>
      <con:name>101</con:name>
      <con:value>101</con:value>
    </con:property>
    <con:property>
      <con:name>102</con:name>
      <con:value>102</con:value>
    </con:property>
    <con:property>
      <con:name>109</con:name>
      <con:value>109</con:value>
    </con:property>
    <con:property>
      <con:name>12</con:name>
      <con:value>12</con:value>
    </con:property>
    <con:property>
      <con:name>2</con:name>
      <con:value>2</con:value>
    </con:property>
    <con:property>
      <con:name>2.000000</con:name>
      <con:value>2.000000</con:value>
    </con:property>
    <con:property>
      <con:name>2.50</con:name>
      <con:value>2.50</con:value>
    </con:property>
    <con:property>
      <con:name>3</con:name>
      <con:value>3</con:value>
    </con:property>
    <con:property>
      <con:name>420478977</con:name>
      <con:value>420478977</con:value>
    </con:property>
    <con:property>
      <con:name>8</con:name>
      <con:value>8</con:value>
    </con:property>
    <con:property>
      <con:name>9</con:name>
      <con:value>9</con:value>
    </con:property>
    <con:property>
      <con:name>false</con:name>
      <con:value>false</con:value>
    </con:property>
    <con:property>
      <con:name>JEFF</con:name>
      <con:value>JEFF</con:value>
    </con:property>
    <con:property>
      <con:name>JOHNNY</con:name>
      <con:value>JOHNNY</con:value>
    </con:property>
    <con:property>
      <con:name>managerId</con:name>
      <con:value>200</con:value>
    </con:property>
    <con:property>
      <con:name>true</con:name>
      <con:value>true</con:value>
    </con:property>
    <con:property>
      <con:name>201</con:name>
      <con:value>201</con:value>
    </con:property>
    <con:property>
      <con:name>200</con:name>
      <con:value>200</con:value>
    </con:property>
    <con:property>
      <con:name>1.330000</con:name>
      <con:value>1.330000</con:value>
    </con:property>
    <con:property>
      <con:name>15</con:name>
      <con:value>15</con:value>
    </con:property>
    <con:property>
      <con:name>18</con:name>
      <con:value>18</con:value>
    </con:property>
    <con:property>
      <con:name>25</con:name>
      <con:value>25</con:value>
    </con:property>
    <con:property>
      <con:name>5</con:name>
      <con:value>5</con:value>
    </con:property>
    <con:property>
      <con:name>0</con:name>
      <con:value>0</con:value>
    </con:property>
    <con:property>
      <con:name>4</con:name>
      <con:value>4</con:value>
    </con:property>
    <con:property>
      <con:name>table1</con:name>
      <con:value>1</con:value>
    </con:property>
    <con:property>
      <con:name>JEFF2</con:name>
      <con:value>JEFF2</con:value>
    </con:property>
    <con:property>
      <con:name>submenuId 11</con:name>
      <con:value>11</con:value>
    </con:property>
    <con:property>
      <con:name>compId 11</con:name>
      <con:value>11</con:value>
    </con:property>
    <con:property>
      <con:name>JEFF3</con:name>
      <con:value>JEFF3</con:value>
    </con:property>
    <con:property>
      <con:name>T3</con:name>
      <con:value>T3</con:value>
    </con:property>
    <con:property>
      <con:name>222</con:name>
      <con:value>222</con:value>
    </con:property>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:authRepository/>
  <con:environmentSpec>
    <con:entry environmentId="3a05ce79-0553-44db-8f74-bfca66706c47">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="07f30c36-ef08-4c61-94c3-9cca624f14e2">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
  </con:environmentSpec>
  <con:tags/>
</con:soapui-project>
