<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="7615f4a6-c99e-44c3-873c-0b899a3674e3" name="13. Modifier Flow" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="7615f4a6-c99e-44c3-873c-0b899a3674e3fileName">13.-Modifier-Flow</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>