<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="LastTestDir" value="C:\Users\jo185040\Documents\OrderPayAutomationDemo\UiTestRunner\Ts BASE DATA\TS BASE DATA 1" />
        <add key="ToolsDir" value="C:\UiTesting\Tools" />
        <add key="LogDir" value="C:\UiTesting\Logs" />
        <add key="LastUsedApkPackage" value="com.ncr.AlohaMobile" />
        <add key="LastUsedApk" value="C:\UiTesting\Tools\com.ncr.AlohaMobile-Signed.apk" />
        <add key="Split1" value="450" />
        <add key="Split2" value="200" />
        <add key="EmulatorToUse" value="" />
        <add key="MainActivity" value="com.ncr.AlohaMobile/AlohaMobile.Droid.SplashActivity" />
        <add key="BreakOnScreenMismatch" value="True" />
        <add key="WiFiModePort" value="5555" />
        <add key="WiFiModeIP" value="0.0.0.0" />
        <add key="LastDeviceUsed" value="emulator-5554" />
        <add key="Location" value="0" />
        <add key="Size" value="39322800" />
    </appSettings>
</configuration>