<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="LastTestDir" value="C:\Users\jo185040\Documents\OrderPayAutomationDemo\UiTestRunner\Ts BASE DATA\TS BASE DATA 1" />
        <add key="ToolsDir" value="C:\UI Tests\Tools" />
        <add key="LogDir" value="C:\UI Tests\Logs" />
        <add key="LastUsedApkPackage" value="com.ncr.AlohaMobile" />
        <add key="LastUsedApk" value="C:\UI Tests\Tools\20.7.3.6.apk" />
        <add key="Split1" value="718" />
        <add key="Split2" value="464" />
        <add key="EmulatorToUse" value="OrderPay_API_27" />
        <add key="MainActivity" value="com.ncr.AlohaMobile/AlohaMobile.Droid.SplashActivity" />
        <add key="BreakOnScreenMismatch" value="False" />
        <add key="WiFiModePort" value="5555" />
        <add key="WiFiModeIP" value="0.0.0.0" />
        <add key="LastDeviceUsed" value="emulator-5554" />
        <add key="Location" value="4325500" />
        <add key="Size" value="65603022" />
    </appSettings>
</configuration>