<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="483dfdaf-ace6-4121-8589-a73c93595e1f" wadlVersion="http://wadl.dev.java.net/2009/02" name="REST Service IOS" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="483dfdaf-ace6-4121-8589-a73c93595e1ffileName">REST-Service-IOS</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>https://153.78.25.54:8897</con:endpoint>
    <con:endpoint>https://192.168.1.132:8897</con:endpoint>
    <con:endpoint>https://192.168.31.82:8897</con:endpoint>
  </con:endpoints>
  <con:environmentSpec>
    <con:entry environmentId="3a05ce79-0553-44db-8f74-bfca66706c47">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="07f30c36-ef08-4c61-94c3-9cca624f14e2">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:interface>