<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="4af2fe18-216d-4113-af55-b36fbc5af251" name="4. Combine/Detatch Tables" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="4af2fe18-216d-4113-af55-b36fbc5af251fileName">4.-Combine%2FDetatch-Tables</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>