<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="afb9a2a7-100d-48e6-9aea-55a5fe64009d" name="18. Comps &amp; Promos" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="IncludeOverview">true</con:setting>
    <con:setting id="IncludeResults">true</con:setting>
    <con:setting id="FlowLayout">false</con:setting>
    <con:setting id="ErrorDetails">true</con:setting>
    <con:setting id="IncludeCoverage">true</con:setting>
    <con:setting id="afb9a2a7-100d-48e6-9aea-55a5fe64009dfileName">18.-Comps-%26-Promos</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="3a05ce79-0553-44db-8f74-bfca66706c47">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="07f30c36-ef08-4c61-94c3-9cca624f14e2">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>